@import "tailwindcss";
@import 'firacode/distr/fira_code.css';

.monospace {
  font-family: monospace;
}

.sombra {
  box-shadow: 0 0 5px rgb(0, 0, 0, 1);
}

.small-text {
  font-size: 0.9rem;
}

.borde {
  border:1px solid rgba(90, 90, 90, 0.8);
}

.color-fondo-oscuro {
  background-color: #242424 ;
}

.color-texto-oscuro {
  color: #E0E0E0;
}

.color-texto-claro {
  color: #1f1f1f;
}

.color-sec {
  color: #14b8a6;
}

.bold {
  font-weight: 700;
  font-size: 1.5rem;
}

h1 {
  font-size: 1.7rem;
  font-family: 'Fira Code', monospace;
}

.color-fondo-claro {
  background-color: #dbdbdb ;
}